
<div id="posts" class="posts-expand">
  {% assign post = page %}
  {% include _macro/post.html %}
  <div class="post-spread">
    {% if site.jiathis %}
      {% include _partials/share/jiathis.html %}
    {% elsif site.baidushare %}
      {% include _partials/share/baidushare.html %}
    {% elsif site.add_this_id %}
      {% include _partials/share/add-this.html %}
    {% elsif site.duoshuo_shortname and site.duoshuo_share %}
      {% include _partials/share/duoshuo_share.html %}
    {% endif %}
    {% if page.comments %}
    <div id="disqus_thread"></div>
      <script>
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://jangwons-blog.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>           
    {% endif %}
  </div>
</div>
